<form [formGroup]="employee" >
  <div class="white">
    <mat-form-field appearance="outline">
      <mat-label>Employee Id</mat-label>
      <input formControlName="emp_id" matInput type="number" required>
    </mat-form-field>
    <mat-form-field formGroupName="name" appearance="outline">
      <mat-label>First Name</mat-label>
      <input  formControlName="first_name" matInput type="text" required>
    </mat-form-field>
    <mat-form-field formGroupName="name" appearance="outline">
      <mat-label>Middle Name</mat-label>
      <input  formControlName="middle_name" matInput type="text">
    </mat-form-field>
    <mat-form-field formGroupName="name" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input  formControlName="last_name" matInput type="text" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email Id</mat-label>
      <input formControlName="emailAddress" matInput type="email" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>DOB</mat-label>
      <input formControlName="dob" matInput type="date" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contact Number</mat-label>
      <input formControlName="contact_number" matInput type="number" required>
    </mat-form-field>
  </div>
  <div class="center">
    <button class="button" mat-button (click)="addEmployee()">Save</button>
    <button class="button" mat-button (click)="cancel()">Cancel</button>
  </div>
</form>