.mid
{
    margin-top: 3rem;
    margin-left: 30%;
}
.button 
{
    margin: 1rem;
    background-color: #1482AC;
    color: white;
    font-size: 16px;
}
.center
{
    display: flex;
    justify-content: center;
}
.alert-danger {
    color: #f44336;
}
.alert-success {

    color: #36f456;
} 
.alert{
    padding: 20px;
    background-color: white;  
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 16px;
    text-align: center;
}